*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.inset-0 {
  inset: 0px;
}

.bottom-0 {
  bottom: 0px;
}

.left-5 {
  left: 1.25rem;
}

.left-\[75px\] {
  left: 75px;
}

.right-0 {
  right: 0px;
}

.right-5 {
  right: 1.25rem;
}

.top-0 {
  top: 0px;
}

.top-1\/2 {
  top: 50%;
}

.top-5 {
  top: 1.25rem;
}

.top-\[144px\] {
  top: 144px;
}

.top-full {
  top: 100%;
}

.z-10 {
  z-index: 10;
}

.z-30 {
  z-index: 30;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-\[50px\] {
  margin-top: 50px;
  margin-bottom: 50px;
}

.my-\[70px\] {
  margin-top: 70px;
  margin-bottom: 70px;
}

.mb-\[70px\] {
  margin-bottom: 70px;
}

.mt-0\.5 {
  margin-top: 0.125rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-\[10px\] {
  margin-top: 10px;
}

.mt-\[114px\] {
  margin-top: 114px;
}

.mt-\[164px\] {
  margin-top: 164px;
}

.mt-\[202px\] {
  margin-top: 202px;
}

.mt-\[244px\] {
  margin-top: 244px;
}

.mt-\[30px\] {
  margin-top: 30px;
}

.mt-\[50px\] {
  margin-top: 50px;
}

.mt-\[70px\] {
  margin-top: 70px;
}

.mt-auto {
  margin-top: auto;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.size-20 {
  width: 5rem;
  height: 5rem;
}

.size-5 {
  width: 1.25rem;
  height: 1.25rem;
}

.size-6 {
  width: 1.5rem;
  height: 1.5rem;
}

.size-8 {
  width: 2rem;
  height: 2rem;
}

.size-\[100px\] {
  width: 100px;
  height: 100px;
}

.size-\[215px\] {
  width: 215px;
  height: 215px;
}

.size-\[50px\] {
  width: 50px;
  height: 50px;
}

.size-\[60px\] {
  width: 60px;
  height: 60px;
}

.size-full {
  width: 100%;
  height: 100%;
}

.\!h-fit {
  height: -moz-fit-content !important;
  height: fit-content !important;
}

.h-\[100px\] {
  height: 100px;
}

.h-\[168px\] {
  height: 168px;
}

.h-\[186px\] {
  height: 186px;
}

.h-\[200px\] {
  height: 200px;
}

.h-\[240px\] {
  height: 240px;
}

.h-\[320px\] {
  height: 320px;
}

.h-\[450px\] {
  height: 450px;
}

.h-\[50px\] {
  height: 50px;
}

.h-\[60px\] {
  height: 60px;
}

.h-\[650px\] {
  height: 650px;
}

.h-\[658px\] {
  height: 658px;
}

.h-\[70px\] {
  height: 70px;
}

.h-\[712px\] {
  height: 712px;
}

.h-\[84px\] {
  height: 84px;
}

.h-fit {
  height: -moz-fit-content;
  height: fit-content;
}

.h-full {
  height: 100%;
}

.h-max {
  height: -moz-max-content;
  height: max-content;
}

.h-screen {
  height: 100vh;
}

.max-h-\[600px\] {
  max-height: 600px;
}

.min-h-\[140px\] {
  min-height: 140px;
}

.min-h-screen {
  min-height: 100vh;
}

.\!w-fit {
  width: -moz-fit-content !important;
  width: fit-content !important;
}

.w-\[1010px\] {
  width: 1010px;
}

.w-\[140px\] {
  width: 140px;
}

.w-\[150px\] {
  width: 150px;
}

.w-\[170px\] {
  width: 170px;
}

.w-\[194px\] {
  width: 194px;
}

.w-\[230px\] {
  width: 230px;
}

.w-\[240px\] {
  width: 240px;
}

.w-\[290px\] {
  width: 290px;
}

.w-\[357px\] {
  width: 357px;
}

.w-\[400px\] {
  width: 400px;
}

.w-\[440px\] {
  width: 440px;
}

.w-\[450px\] {
  width: 450px;
}

.w-\[460px\] {
  width: 460px;
}

.w-\[499px\] {
  width: 499px;
}

.w-\[500px\] {
  width: 500px;
}

.w-\[71px\] {
  width: 71px;
}

.w-\[99\.4px\] {
  width: 99.4px;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.w-full {
  width: 100%;
}

.w-px {
  width: 1px;
}

.min-w-\[270px\] {
  min-width: 270px;
}

.max-w-\[1130px\] {
  max-width: 1130px;
}

.max-w-\[1280px\] {
  max-width: 1280px;
}

.max-w-\[227px\] {
  max-width: 227px;
}

.max-w-\[232px\] {
  max-width: 232px;
}

.max-w-\[241px\] {
  max-width: 241px;
}

.max-w-\[640px\] {
  max-width: 640px;
}

.max-w-\[900px\] {
  max-width: 900px;
}

.max-w-\[940px\] {
  max-width: 940px;
}

.max-w-\[none\] {
  max-width: none;
}

.flex-1 {
  flex: 1 1 0%;
}

.shrink-0 {
  flex-shrink: 0;
}

.-translate-y-1\/2 {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-\[-50\%\] {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-rotate-180 {
  --tw-rotate: -180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-180 {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.appearance-none {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-0\.5 {
  gap: 0.125rem;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-\[10px\] {
  gap: 10px;
}

.gap-\[12px\] {
  gap: 12px;
}

.gap-\[14px\] {
  gap: 14px;
}

.gap-\[18px\] {
  gap: 18px;
}

.gap-\[24px\] {
  gap: 24px;
}

.gap-\[2px\] {
  gap: 2px;
}

.gap-\[30px\] {
  gap: 30px;
}

.gap-\[31px\] {
  gap: 31px;
}

.gap-\[33px\] {
  gap: 33px;
}

.gap-\[40px\] {
  gap: 40px;
}

.gap-\[50px\] {
  gap: 50px;
}

.gap-\[54px\] {
  gap: 54px;
}

.gap-\[6px\] {
  gap: 6px;
}

.gap-\[70px\] {
  gap: 70px;
}

.gap-x-3 {
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
}

.gap-x-5 {
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}

.gap-x-\[12px\] {
  -moz-column-gap: 12px;
       column-gap: 12px;
}

.gap-x-\[18px\] {
  -moz-column-gap: 18px;
       column-gap: 18px;
}

.gap-y-4 {
  row-gap: 1rem;
}

.gap-y-\[12px\] {
  row-gap: 12px;
}

.gap-y-\[18px\] {
  row-gap: 18px;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.text-nowrap {
  text-wrap: nowrap;
}

.rounded-3xl {
  border-radius: 1.5rem;
}

.rounded-\[14px\] {
  border-radius: 14px;
}

.rounded-\[20px\] {
  border-radius: 20px;
}

.rounded-\[22px\] {
  border-radius: 22px;
}

.rounded-\[30px\] {
  border-radius: 30px;
}

.rounded-\[50px\] {
  border-radius: 50px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.border {
  border-width: 1px;
}

.border-0 {
  border-width: 0px;
}

.border-none {
  border-style: none;
}

.border-\[\#F2F2F4\] {
  --tw-border-opacity: 1;
  border-color: rgb(242 242 244 / var(--tw-border-opacity, 1));
}

.border-tedja-black {
  --tw-border-opacity: 1;
  border-color: rgb(6 9 34 / var(--tw-border-opacity, 1));
}

.border-tedja-border {
  --tw-border-opacity: 1;
  border-color: rgb(242 242 244 / var(--tw-border-opacity, 1));
}

.border-transparent {
  border-color: transparent;
}

.border-x-tedja-border {
  --tw-border-opacity: 1;
  border-left-color: rgb(242 242 244 / var(--tw-border-opacity, 1));
  border-right-color: rgb(242 242 244 / var(--tw-border-opacity, 1));
}

.bg-\[\#F2F2F4\] {
  --tw-bg-opacity: 1;
  background-color: rgb(242 242 244 / var(--tw-bg-opacity, 1));
}

.bg-tedja-black {
  --tw-bg-opacity: 1;
  background-color: rgb(6 9 34 / var(--tw-bg-opacity, 1));
}

.bg-tedja-black\/10 {
  background-color: rgb(6 9 34 / 0.1);
}

.bg-tedja-black\/50 {
  background-color: rgb(6 9 34 / 0.5);
}

.bg-tedja-blue {
  --tw-bg-opacity: 1;
  background-color: rgb(63 82 255 / var(--tw-bg-opacity, 1));
}

.bg-tedja-green {
  --tw-bg-opacity: 1;
  background-color: rgb(206 242 127 / var(--tw-bg-opacity, 1));
}

.bg-tedja-orange {
  --tw-bg-opacity: 1;
  background-color: rgb(255 159 71 / var(--tw-bg-opacity, 1));
}

.bg-tedja-red {
  --tw-bg-opacity: 1;
  background-color: rgb(255 62 62 / var(--tw-bg-opacity, 1));
}

.bg-transparent {
  background-color: transparent;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-green-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(34 197 94 / var(--tw-bg-opacity, 1));
}

.bg-indigo-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(99 102 241 / var(--tw-bg-opacity, 1));
}

.bg-\[linear-gradient\(180deg\2c rgba\(250\2c 250\2c 250\2c 0\)_0\%\2c \#FAFAFA_100\%\)\] {
  background-image: linear-gradient(180deg,rgba(250,250,250,0) 0%,#FAFAFA 100%);
}

.bg-none {
  background-image: none;
}

.object-contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.p-4 {
  padding: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.p-\[10px\] {
  padding: 10px;
}

.p-\[13px\] {
  padding: 13px;
}

.p-\[30px\] {
  padding: 30px;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-\[10px\] {
  padding-left: 10px;
  padding-right: 10px;
}

.px-\[135px\] {
  padding-left: 135px;
  padding-right: 135px;
}

.px-\[24px\] {
  padding-left: 24px;
  padding-right: 24px;
}

.px-\[30px\] {
  padding-left: 30px;
  padding-right: 30px;
}

.px-\[75px\] {
  padding-left: 75px;
  padding-right: 75px;
}

.py-0\.5 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-\[12px\] {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-\[14px\] {
  padding-top: 14px;
  padding-bottom: 14px;
}

.py-\[28px\] {
  padding-top: 28px;
  padding-bottom: 28px;
}

.py-\[40px\] {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-\[6px\] {
  padding-top: 6px;
  padding-bottom: 6px;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pb-\[10px\] {
  padding-bottom: 10px;
}

.pb-\[20px\] {
  padding-bottom: 20px;
}

.pb-\[30px\] {
  padding-bottom: 30px;
}

.pb-\[40px\] {
  padding-bottom: 40px;
}

.pb-\[70px\] {
  padding-bottom: 70px;
}

.pl-5 {
  padding-left: 1.25rem;
}

.pl-\[10px\] {
  padding-left: 10px;
}

.pl-\[30px\] {
  padding-left: 30px;
}

.pl-\[54px\] {
  padding-left: 54px;
}

.pl-\[7px\] {
  padding-left: 7px;
}

.pl-\[calc\(\(\(100\%-1280px\)\/2\)\+75px\)\] {
  padding-left: calc(((100% - 1280px) / 2) + 75px);
}

.pr-5 {
  padding-right: 1.25rem;
}

.pr-\[64px\] {
  padding-right: 64px;
}

.pt-\[10px\] {
  padding-top: 10px;
}

.pt-\[114px\] {
  padding-top: 114px;
}

.pt-\[28px\] {
  padding-top: 28px;
}

.pt-\[30px\] {
  padding-top: 30px;
}

.pt-\[40px\] {
  padding-top: 40px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-end {
  text-align: end;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-\[20px\] {
  font-size: 20px;
}

.text-\[22px\] {
  font-size: 22px;
}

.text-\[26px\] {
  font-size: 26px;
}

.text-\[28px\] {
  font-size: 28px;
}

.text-\[38px\] {
  font-size: 38px;
}

.text-\[46px\] {
  font-size: 46px;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-semibold {
  font-weight: 600;
}

.leading-10 {
  line-height: 2.5rem;
}

.leading-7 {
  line-height: 1.75rem;
}

.leading-8 {
  line-height: 2rem;
}

.leading-9 {
  line-height: 2.25rem;
}

.leading-\[21px\] {
  line-height: 21px;
}

.leading-\[27px\] {
  line-height: 27px;
}

.leading-\[28px\] {
  line-height: 28px;
}

.leading-\[30px\] {
  line-height: 30px;
}

.leading-\[33px\] {
  line-height: 33px;
}

.leading-\[39px\] {
  line-height: 39px;
}

.leading-\[42px\] {
  line-height: 42px;
}

.leading-\[54px\] {
  line-height: 54px;
}

.leading-\[57px\] {
  line-height: 57px;
}

.leading-\[60px\] {
  line-height: 60px;
}

.text-\[\#FAFAFA\] {
  --tw-text-opacity: 1;
  color: rgb(250 250 250 / var(--tw-text-opacity, 1));
}

.text-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity, 1));
}

.text-tedja-black {
  --tw-text-opacity: 1;
  color: rgb(6 9 34 / var(--tw-text-opacity, 1));
}

.text-tedja-blue {
  --tw-text-opacity: 1;
  color: rgb(63 82 255 / var(--tw-text-opacity, 1));
}

.text-tedja-red {
  --tw-text-opacity: 1;
  color: rgb(255 62 62 / var(--tw-text-opacity, 1));
}

.text-tedja-secondary {
  --tw-text-opacity: 1;
  color: rgb(143 145 162 / var(--tw-text-opacity, 1));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.opacity-0 {
  opacity: 0;
}

.shadow-\[0px_10px_30px_0px_\#B8B8B840\] {
  --tw-shadow: 0px 10px 30px 0px #B8B8B840;
  --tw-shadow-colored: 0px 10px 30px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-\[0px_8px_30px_0px_\#06092208\] {
  --tw-shadow: 0px 8px 30px 0px #06092208;
  --tw-shadow-colored: 0px 8px 30px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.ring-1 {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.ring-tedja-black {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(6 9 34 / var(--tw-ring-opacity, 1));
}

.ring-tedja-border {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(242 242 244 / var(--tw-ring-opacity, 1));
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-300 {
  transition-duration: 300ms;
}

body{
  font-family: "Poppins";
  background: #FAFAFA;
  display: flex;
  flex-direction: column;
  color: #060922;
}

.slider {
  overflow: hidden;
  position: relative;
  height: 650px;
  /* Adjust as per your card height */
}

.slider .content {
  width: 100%;
}

.slide-up .content {
  animation: slide-up 25s infinite linear;
}

.slide-down .content {
  animation: slide-down 25s infinite linear;
}

@keyframes slide-up {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.hide-scrollbar {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Edge */
}

.placeholder\:text-base::-moz-placeholder {
  font-size: 1rem;
  line-height: 1.5rem;
}

.placeholder\:text-base::placeholder {
  font-size: 1rem;
  line-height: 1.5rem;
}

.placeholder\:font-normal::-moz-placeholder {
  font-weight: 400;
}

.placeholder\:font-normal::placeholder {
  font-weight: 400;
}

.placeholder\:leading-\[24px\]::-moz-placeholder {
  line-height: 24px;
}

.placeholder\:leading-\[24px\]::placeholder {
  line-height: 24px;
}

.placeholder\:text-tedja-secondary::-moz-placeholder {
  --tw-text-opacity: 1;
  color: rgb(143 145 162 / var(--tw-text-opacity, 1));
}

.placeholder\:text-tedja-secondary::placeholder {
  --tw-text-opacity: 1;
  color: rgb(143 145 162 / var(--tw-text-opacity, 1));
}

.first-of-type\:pl-\[calc\(\(\(100\%-1280px\)\/2\)\+75px\)\]:first-of-type {
  padding-left: calc(((100% - 1280px) / 2) + 75px);
}

.last-of-type\:pr-\[calc\(\(\(100\%-1280px\)\/2\)\+75px\)\]:last-of-type {
  padding-right: calc(((100% - 1280px) / 2) + 75px);
}

.invalid\:font-normal:invalid {
  font-weight: 400;
}

.hover\:bg-tedja-black:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(6 9 34 / var(--tw-bg-opacity, 1));
}

.hover\:font-bold:hover {
  font-weight: 700;
}

.hover\:text-\[\#FAFAFA\]:hover {
  --tw-text-opacity: 1;
  color: rgb(250 250 250 / var(--tw-text-opacity, 1));
}

.hover\:text-tedja-blue:hover {
  --tw-text-opacity: 1;
  color: rgb(63 82 255 / var(--tw-text-opacity, 1));
}

.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.hover\:underline:hover {
  text-decoration-line: underline;
}

.hover\:ring-2:hover {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.hover\:ring-\[2px\]:hover {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.hover\:ring-tedja-blue:hover {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(63 82 255 / var(--tw-ring-opacity, 1));
}

.focus\:border-transparent:focus {
  border-color: transparent;
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.focus\:ring-1:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus\:ring-2:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus\:ring-\[2px\]:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus\:ring-tedja-blue:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(63 82 255 / var(--tw-ring-opacity, 1));
}

.group:hover .group-hover\:text-\[\#FAFAFA\] {
  --tw-text-opacity: 1;
  color: rgb(250 250 250 / var(--tw-text-opacity, 1));
}

.group:hover .group-hover\:text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.group:hover .group-hover\:opacity-100 {
  opacity: 1;
}

.group.active .group-\[\&\.active\]\:block {
  display: block;
}

.group.active .group-\[\&\.active\]\:hidden {
  display: none;
}

.group.active .group-\[\&\.active\]\:font-semibold {
  font-weight: 600;
}

.group.active .group-\[\.active\]\:font-bold {
  font-weight: 700;
}

.group.active .group-\[\&\.active\]\:text-tedja-green {
  --tw-text-opacity: 1;
  color: rgb(206 242 127 / var(--tw-text-opacity, 1));
}

.has-\[\:checked\]\:bg-tedja-black:has(:checked) {
  --tw-bg-opacity: 1;
  background-color: rgb(6 9 34 / var(--tw-bg-opacity, 1));
}

.group:has(:checked) .group-has-\[\:checked\]\:text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.\[\&\:\:-webkit-scrollbar\]\:hidden::-webkit-scrollbar {
  display: none;
}

  